aiofiles
fastapi
openai
orjson
pydantic-settings
python-dotenv
python-multipart
tenacity
uvicorn
websockets
sqlalchemy[asyncio]
asyncpg
pydantic[email]
asyncer
streamlit
PyJWT
google-auth
aioboto3>=15.0.0
celery[redis]
redis
